.card{
	
	height:100%;
}

  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  
  
  html *{
    -webkit-font-smoothing: antialiased;
}

p{
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 10px;
}

.title h3{
    font-weight:300;
    font-size:25px;
    margin-top:25px;
    color: #3C4858;
}

.modal-dialog .modal-content{
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    border: none;
}
.modal-dialog .modal-header{
    border-bottom: none;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px;
}

.modal-dialog .modal-header .modal-title{
    font-size: 17px;
    font-weight: 300;
    color: #3C4858;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1.5;
}

.modal-dialog .modal-body {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    color: #3C4858;
}

.modal .modal-header .close i{
    font-size: 16px;
    color: #999;
}

.modal-dialog .modal-footer{
    border-top: none;
    padding: 24px !important;
}

.modal-dialog .modal-body+.modal-footer{
    padding-top: 0 !important;
}
.modal-dialog .modal-footer button{
    margin: 0 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: auto;
}

footer{
    margin-top:200px;
    color: #555;
    background: #fff;
    padding: 25px;
    font-weight: 300;
    
}
.footer p{
    margin-bottom: 0;
}
footer p a{
    color: #555;
    font-weight: 400;
}


.modal-login {
    max-width: 360px !important;
    margin-top:130px;
}

.modal-dialog .modal-content .card-signup .modal-header {
    padding-top: 0;
}

.modal-login .modal-header .card-header{
    width: 100%;
}

.modal-login .modal-header .close {
    color: #fff;
    top: -25px;
    right: 50px;
    text-shadow: none;
    position: absolute;
}

.modal-login .modal-header .close i{
    color: #fff;
   
}


.modal-login .modal-body {
    padding-left: 4px !important;
}

.modal-login .modal-footer {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.modal-login .modal-header .card-header .social-line {
    margin-top: 1rem;
    text-align: center;
    padding: 0;
}


.modal-login .modal-header .card-header .social-line .btn {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-login .modal-body {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.modal-login .modal-body .form .description {
    padding-top: 15px;
    margin-bottom: -10px;
    color: #999;
}

.card .card-title{
    color: #fff;
    font-size: 18px !important;
    font-weight: 700 !important;
    font-family: Roboto Slab,Times New Roman,serif;
    margin-top:10px;
}

.card .card-header{
    border-radius: 3px !important;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
}


.card-plain .card-body {
    padding-left: 5px !important;
    padding-right: 5px !important;
}


.card .card-body {
    padding: 15px;
}

.card form {
    margin: 0;
}

.form-group {
    margin-bottom: 17px !important;
    position: relative;
}

.bmd-form-group {
    position: relative;
    padding-top: 27px !important;
}


.input-group-prepend {
    margin-right: -1px;
}

.input-group .input-group-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: transparent;
    border-color: transparent;
}

.form-control::placeholder{
    color: #aaaaaa !important;
    font-size:14px !important;
}



.form-control:focus{
    box-shadow: none !important;
}

.modal-dialog .modal-body {
    padding: 24px 24px 16px;
}

.modal-dialog .modal-footer button {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
}
.modal-notice .instruction {
    margin-bottom: 25px;
}

.modal-notice .picture {
    height:87px !important;
    width:131px !important;
}


img.rounded {
    border-radius: 6px !important;
}

.img-fluid{
    width: 100% !important;
    height: 100% !important;
}

strong{
 font-weight: 400 !important;
}


a {
    color: #3e3947 !important;
    text-decoration: none;
}
.cadaLinha{
	border-bottom: solid 1px lightgrey;
}
.titulos{
	border-bottom: solid 1px lightgrey; 
	text-align:center;
}
.titulos1{
	text-align:center;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 15px;
}
h4{
	font-size: 18px;
}
.beneficios{
	clear:both;
	padding-left: 10px;
}
  